@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src:  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff'),
        url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src:  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff'),
        url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.otf');
  font-style: normal;
  font-display: swap;
}
